version: "3.8"
services:
  db:
    image: mariadb:10.7
    restart: always
    environment:
      MYSQL_DATABASE: final
      MYSQL_USER: user
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: rootpass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
volumes:
  db_data: